body {
  padding-top: 20px;
  font-family: 'Nerko One', cursive;
  text-align: center;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.btn-create {
  font-family: 'Nerko One', cursive;
  width: 150px;
  height: 50px;
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
}

.game-board {
  height: 700px;
  width: 700px;
  display: flex;
  /* justify-content: space-around; */
  /* align-items: center; */
  flex-wrap: wrap;
  margin: auto;
  /* align-content: stretch; */
}

.card {
  width: 200px;
  height: 200px;
  margin: 0px 10px;
  border-radius: 20px;
  align-self: center;
  border-style: solid;
  border-color: white;
  border-width: 2px;
}

.flipped-over {
  /* background-color: black !important; */
  background: rgb(147,168,179) !important;
background: linear-gradient(288deg, rgba(147,168,179,1) 30%, rgba(95,92,91,1) 54%, rgba(27,22,22,1) 95%) !important;
}

.matched {
  opacity: 50%;
}
